[user]
  name = Raffaele Cataldo
	email = kemanicataldo@gmail.com
  username = farmeroy
[core]
  editor = nvim
[alias]
  a = add
  c = commit
  cm = commit -m
  d = diff
  dc = diff --cached
  o = checkout
  ob = checkout -b
  ps = push
  pso = push origin
  psom = push origin master
  st = status
[http]
	postBuffer = 524288000
