[core]
  editor = nvim
[includeIf "gitdir:~/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Encore/"]
  path = ~/.gitconfig-work

[alias]
  a = add
  c = commit
  cm = commit -m
  d = diff
  dc = diff --cached
  o = checkout
  ob = checkout -b
  ps = push
  pso = push origin
  psom = push origin master
  st = status
[http]
	postBuffer = 524288000
